doctype
html
  head
    title test
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="/js/command.js")
    link(rel="stylesheet",href="/css/map.css")
  body
    canvas#field(width="150", height="150")
    #console test

    #test
