doctype
html
  head
    title test
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="/js/command.js")
  body
    canvas#field
    #point
      #x 0
      #y 0
    #console test
