html
  head
    title welcome
  body
    h2 sign in
    form(action="/signin", method="POST")
      ul
        li name
          input(type="text", name="name")
        li password
          input(type="password", name="password")
        li
          input(type="submit")
